/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:14px 60px;
background:white;
border-bottom:1px solid #eee;
position:relative;
z-index:999;

}

/* LEFT */

.navbar-left{
display:flex;
align-items:center;
gap:12px;
}

.logo-box{
width:44px;
height:44px;
background:#2563eb;
border-radius:12px;
display:flex;
align-items:center;
justify-content:center;
position:relative;
color:white;
box-shadow:0 6px 14px rgba(37,99,235,0.25);
}

.plane-icon{
transform:rotate(-20deg);
}

.sparkle-icon{
position:absolute;
top:-6px;
right:-6px;
background:#ff7a00;
color:white;
border-radius:50%;
padding:2px;
}

.logo-text h3{
margin:0;
font-size:18px;
}

.logo-text p{
margin:0;
font-size:12px;
color:#777;
}

/* CENTER */

.navbar-center{
display:flex;
gap:40px;
font-weight:500;
}

.navbar-center span{
cursor:pointer;
color:#555;
padding-bottom:6px;
transition:0.2s;
}
.nav-item{
text-decoration:none;
color:#555;
padding-bottom:6px;
transition:0.2s;
}

/* hover */
.nav-item:hover{
color:#2563eb;
}

/* hover effect only */
.navbar-center span:hover{
color:#2563eb;
}

/* ONLY active tab underline */
.navbar-center .active{
color:#2563eb;
border-bottom:2px solid #2563eb;
}


/* RIGHT */

.navbar-right{
display:flex;
align-items:center;
gap:16px;
}

.account{
display:flex;
align-items:center;
gap:6px;
color:#555;
}

/* BUTTONS */

.agent-btn{
display:flex;
align-items:center;
gap:6px;
border:2px solid #22c55e;
background:white;
color:#22c55e;
padding:6px 14px;
border-radius:8px;
font-weight:500;
cursor:pointer;
}

.login-btn{
background:#ff7a00;
border:none;
color:white;
padding:7px 16px;
border-radius:8px;
font-weight:500;
cursor:pointer;
}